body {
  background: white;
  color: #333333;
  font-family: sans-serif;
  padding: 16px;
  min-height: 1000px;
  margin-top: 128px;
  margin-bottom: 96px;
}

header {
  position: fixed;
  background-color: #acd9a0;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  padding-left: 32px;
  /* margin-bottom: 200px; */
}

footer {
  position: fixed;
  background-color: #69945f;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 64px;
}

/* div + div {
  margin-top: 16px;
} */

.flex-containter {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid blue;
}

.flex-child:first-child {
  margin-right: 20px;
}

div.header {
  font-style: oblique;
  justify-content: center;
  float: left;
}

h1.header {
  font-size: 48pt;
}

p.footer {
  font-style: oblique;
  color: #ffffff;
}

div.debug {
  padding: 32px;
  background-color: #ffd9b5;
}

header + div {
  margin-top: 32px;
}

div + footer {
  margin-top: 96px;
}

article + article {
  padding: 48px;
}

p + p {
  line-height: 24px;
  margin-bottom: 32px;
}

br {
  margin-top: 8px;
  margin-bottom: 8px;
}

a.whitelink {
  color: #fff;
  text-decoration: none;
}
